html{
    scroll-behavior: smooth;
}

/* importer les polices */
@font-face {
    font-family: alex;
    src: url(/quicksand/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: quicksandbolditalique;
    src: url(/quicksand/Quicksand-BoldItalic.otf);
}
@font-face {
    font-family: quicksandbold;
    src: url(/quicksand/Quicksand-Bold.otf);
}
@font-face {
    font-family: quicksand;
    src: url(/quicksand/Quicksand-Regular.otf);
}
/* stylisation des dates */


/* la stylisation de mon nom */
header h1{
    text-align: center;
    font-family: quicksandbold;
    background: linear-gradient(#434343,white);
    margin: 0%;
    padding: 30px;
    text-shadow: white 2px -3px 5px;
    font-size: 4.2em;
    
    
}

/* stylisation de mon menu de navigation */
    /* desactivation des puces */

nav{
    
    margin: 0%;
}
nav a{
    text-decoration: none;
    padding: 30px 20px;
    color: white;
    font-family: quicksand;
    
    
}
nav li{
    list-style-type: none;
}
nav ul{
    display: flex;
    background-color: #424558;
    justify-content: center; 
   
}
/* liens style */
a{
    text-decoration: none;
    color: rgba(160, 52, 88, 1);
}

a:hover{
    color: red;
}

a:visited{
    text-decoration: underline rgba(160, 52, 88, 1);
}

nav a:hover{
    padding:25px 20px;
}
#nav_qui_suis-je:hover{
    background-color: rgba(153, 153, 153, 0.146);
    /* flex:1; */
    /* text-align: center; */
    color: white;
    border-top:rgba(153, 153, 153, 1) 5px solid;
}

#nav_experiences:hover{
    background-color: rgba(187, 224, 99, 0.146);
    /* flex:1;    */
    /* text-align: center; */
    color: white;
    border-top:rgb(190, 228, 102) 5px solid;
}

#nav_cursus:hover{
    background-color: rgba(208, 219, 57, 0.146);
    /* flex: 1; */
    /* text-align: center; */
    color: white;
    border-top:rgb(216, 228, 50) 5px solid;
}

#nav_autres_formations:hover{
    background-color: rgba(57, 187, 219, 0.146);
    /* flex: 1; */
    /* text-align: center; */
    color: white;
    border-top:rgb(57, 146, 219) 5px solid;
}

#nav_competences:hover{
    background-color: rgba(255, 166, 0, 0.146);
    /* flex: 1; */
    /* text-align: center; */
    color: white;
    border-top:orange 5px solid;
}

#nav_contacte_moi:hover{
    background-color: rgba(165, 67, 204, 0.146);
    /* flex: 1; */
    /* text-align: center; */
    color: white;
    border-top:rgba(165, 67, 204, 0.924) 5px solid;
}



/* stylisation de l'image profile */
a img{
    width: 300px;
    margin: 5px 0px 0px 10px;
    border-radius: 20px;
    border: #434343 outset 4px;
    box-shadow: #434343 2px 5px 10px ;

}
/* assemblage de ma photo profile et ma section "qui_suis-je" */
.section_qui_suis-je_et_photo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    overflow: auto;
    height: 350PX;
    
}
.div_qui_suis-je{
    margin: 0px 0px 0px 20px;
    
}

/* stylisation de titre de ma balise "qui_suis-je" */
/* stylisation des h2 */
h2{
    text-align: center;
    font-family: alex;
    background-color:rgba(160, 52, 88, 0.657);
    border-radius: 20px;
    font-size: 40px;
    padding: 10px;
    box-shadow: #434343 2px 5px 5px;
    border-style:ridge;

    margin: 5px 20px 0px 20px;
    transition: color 1s ease-in, background-color 2s;
    -moz-transition: color 1s ease-in, background-color 2s;
    -o-transition: color 1s ease-in, background-color 2s;
    -webkit-transition: color 1s ease-in, background-color 2s;
}
section div h2{ /*stylisation du titre */
    color: #777;
}
section div h2:hover{
    background-color: #999;
    margin: 5px 20px 0px 20px;
    color: rgba(160, 52, 88, 0.657);
    box-shadow:0px 2px 10px #444;

}
/* stylisation de nav */


.p_qui_suis-je{
    text-align: center;
    line-height: 25px;
    font-family: quicksand;
    font-size: 25px;
}
.p_qui_suis-je_aussi{
    text-decoration: underline rgba(160, 52, 88, 0.657) 5px;
    color: #777;
    font-family: alex;
}
.div_qui_suis-je span{
    font-style: italic;
    font-weight: bold;
}

/* stylisation de la section experiences */
.section_experience{
    font-family: quicksand, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.section_experience h2{
    color: rgba(157, 197, 120, 1);
    margin: 5px 20px 0px 0px;
}
.section_experience h2:hover{
    background-color: rgba(174, 197, 120, 0.883);;
    color: rgba(160, 52, 88, 0.657);
    box-shadow:0px 2px 10px #444;
}

.section_experience strong{
    padding: 10px;
    margin-left: 15px;
    text-align:left;
    font-family: quicksandbold;
    color: white;
    background-color: rgba(160, 52, 88, 0.457);
    border-radius: 20px;
    border: rgba(160, 52, 88, 0.957) outset 3px;
    margin-right: 10px;
}
.section_experience strong:hover{
    box-shadow: black 0px 0px 10px;
}

/* stylisation du section cursus */
.cursus h2{
    color: rgb(216, 228, 50);
    margin: 5px 20px 0px 20px;
}

.cursus h2:hover{
    background-color: rgba(201, 212, 47, 0.464);
    color: rgba(131, 50, 77, 0.657);
    box-shadow:0px 2px 10px #444;
}
.ecole{
    font-family: quicksandbolditalique;
    font-size: 30px;
    margin: 20px 0px 0px 10px;
    text-transform: uppercase;
    color:rgba(160, 52, 88, 0.457);
}
.date{
    padding: 15px;
    margin-left: 15px;
    /* text-align:left; */
    font-family: quicksandbold;
    color: white;
    background-color: rgba(160, 52, 88, 0.457);
    border-radius: 20px;
    border: rgba(160, 52, 88, 0.957) outset 3px;
    /* margin-right: 10px; */
    font-size:25px;
    transition: border 1s ease-in-out, background-color 2s;
    -moz-transition: border 1s ease-in-out, background-color 2s;
    -o-transition: border 1s ease-in-out, background-color 2s;
    -webkit-transition: border 1s ease-in-out, background-color 2s;
}
.date:hover{
    box-shadow: black 0px 0px 10px;
    border: white inset 3px; 
    padding: 16px;   

}
.cursus li{
    list-style-type: none;
    margin: 25px;
    font-size: 25px;
    font-family: quicksand;
}
/* stylisation de la section "autres formations" */
.autres_formations h2{
    color: rgba(0, 0, 128, 0.959);;
    margin: 5px 20px 0px 20px;
    margin-bottom: 30px;

}
.autres_formations div{
    height: 100px;
}
.autres_formations p{
    display: inline;
    padding: 10px;
    word-wrap: break-word;
    font-family: quicksand , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: ghostwhite;
    border-radius: 20px;
}

.autres_formations h2:hover{
    background-color:rgba(0, 0, 128, 0.459);
    color: rgba(160, 52, 88, 0.657);
    box-shadow:0px 2px 10px #444;
}    



/* .autres_formations ul li{
    list-style-type: none;
    margin: 30px;
    padding: 5px;
    font-size: 25px;
    
    font-family: quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* stylisation de la section competence */
.competences h2{
    color: orange;
    margin: 5px 20px 0px 20px;
}

.competences h2:hover{
    background-color: rgba(255, 166, 0, 0.3);
    color: rgba(160, 52, 88, 0.657);
    box-shadow:0px 2px 10px #444;
}
.competences div li{
    list-style-type: none;
    padding: 5px;
}
.competences div{
    display: flex;
    justify-content: space-between;
    line-height: 250%;
    margin: 0% 12%;
    font-family: quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:  140%; 
}

/* stylisation de la section 'contacte moi' */

.contacte_moi h2{
    color:rgba(165, 67, 204, 1);
    margin: 5px 20px 20px 20px;
}

.contacte_moi h2:hover{
    background-color:rgba(165, 67, 204, 0.3);
    color: rgba(160, 52, 88, 0.657);
    box-shadow:0px 2px 10px #444;
}
.contacte_moi address{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    line-height: 50px;
    

}
.contacte_moi address p{
    border: solid black 2px;
    margin: 0% 15%;
    text-align: start;
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 25px;
    font-family: quicksand;
    background-color: ghostwhite;
    word-wrap:break-word;

}
footer{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #545454;
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: quicksand , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cv_footer{
    margin-left: 15px;
    background-color: rgb(221, 224, 33);
    border-radius: 15px;
    
    font-weight: bolder;
    border:white outset 4px;
}
#cv_footer:hover{
    background-color: white;
    border:rgb(221, 224, 33) outset 4px;
}
